In [1]:
#load the data
import pandas as pd
import numpy as np
import sklearn

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data =pd.read_csv("/content/drive/MyDrive/50_Startups (1).csv")

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count     108.000000      108.000000       108.000000     108.000000
mean    74959.338704   121750.788889    214952.664722  113523.760000
std     44996.368152    27322.385654    117937.942120   38991.013654
min         0.000000    51283.140000         0.000000   14681.400000
25%     38558.510000   105077.645000    134050.070000   90708.190000
50%     75791.365000   122699.795000    239452.750000  109543.120000
75%    101913.080000   145077.580000    298664.470000  141585.520000
max    165349.200000   182645.560000    471784.100000  192261.830000

In [5]:
#check for missing values
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [24]:
le=LabelEncoder()

In [6]:
#Encoding
from sklearn.preprocessing import LabelEncoder

In [18]:
data['State'] = le.fit_transform(data['State'])

In [19]:
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [20]:
y = data['Profit']
x = data.drop(columns = ['Profit'],axis = 1)

In [22]:
names = x.columns

In [23]:
names

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State'], dtype='object')

In [25]:
from sklearn.preprocessing import scale

In [26]:
x = scale(x)

In [27]:
x

array([[ 2.01819092,  0.55696553,  2.18783528,  1.16731536],
       [ 1.95675646,  1.0893969 ,  1.95029024, -1.23401909],
       [ 1.75232048, -0.75766814,  1.64392865, -0.03335187],
       [ 1.54982902, -0.1132146 ,  1.43322263,  1.16731536],
       [ 1.49925539, -1.11632102,  1.28814125, -0.03335187],
       [ 1.27083396, -0.806604  ,  1.25996984,  1.16731536],
       [ 1.3319795 ,  0.93574262, -0.74312422, -1.23401909],
       [ 1.23558377,  0.87437939,  0.92787631, -0.03335187],
       [ 1.01776417,  0.99163696,  0.82340982,  1.16731536],
       [ 1.08011094, -0.48065199,  0.76691751, -1.23401909],
       [ 0.60181303, -0.4102384 ,  0.1210342 , -0.03335187],
       [ 0.57410176, -1.10165542,  0.29637694, -1.23401909],
       [ 0.4220906 ,  0.20479752,  0.29718526, -0.03335187],
       [ 0.38030758,  0.50538623,  0.32125438, -1.23401909],
       [ 1.00438367,  1.27949493,  0.35403374, -0.03335187],
       [ 0.88337621,  0.03184527,  0.39886959,  1.16731536],
       [ 0.06818346, -0.00563469,  0.42076085, -1.23401909],
       [ 0.43980557,  0.8577414 ,  0.57603938,  1.16731536],
       [ 0.37487683, -0.27853767,  0.68120328, -0.03335187],
       [ 0.25588265,  1.16795814, -1.83108825,  1.16731536],
       [ 0.02890359, -0.28988105,  0.71310446, -1.23401909],
       [ 0.07658668,  1.1774935 ,  0.72224334,  1.16731536],
       [-0.02154122,  0.03794589,  0.75275659, -0.03335187],
       [-0.165823  , -0.58832162,  0.76510399, -0.03335187],
       [ 0.04654576, -0.82621636, -0.63359259,  1.16731536],
       [-0.22985461,  0.65460485, -0.6558447 , -1.23401909],
       [ 0.00825076,  0.82311815, -0.68917401, -0.03335187],
       [-0.06367255,  0.224807  ,  1.177531  ,  1.16731536],
       [-0.19889043,  2.23914065, -0.82463513, -0.03335187],
       [-0.20884945,  1.15023284, -0.918423  ,  1.16731536],
       [-0.2894745 , -0.22465065, -1.05478086, -0.03335187],
       [-0.30863384,  1.13809338, -1.07959552,  1.16731536],
       [-0.25789476,  0.27463345, -1.43850805, -1.23401909],
       [-0.4346159 , -0.68736485, -0.00270767, -0.03335187],
       [-0.63708012,  1.32165249, -0.03539459, -1.23401909],
       [-0.64628022, -1.3496062 , -0.08037287,  1.16731536],
       [-1.03367032,  0.19508381, -0.11777636, -0.03335187],
       [-0.68968668, -2.59114164, -0.15268033, -1.23401909],
       [-1.2219853 , -2.0519077 , -0.25289545,  1.16731536],
       [-0.81274405, -1.42555047, -0.34034534, -1.23401909],
       [-1.0316481 , -0.11784035, -0.3591171 , -1.23401909],
       [-1.05088134, -1.36198577, -0.43003381, -0.03335187],
       [-1.14581818, -0.93990057, -0.57033117, -1.23401909],
       [-1.32745787,  0.20707435, -1.52838812,  1.16731536],
       [-1.17848774,  1.21546693, -1.5897171 , -1.23401909],
       [-1.65133124,  0.08833235, -1.8148695 ,  1.16731536],
       [-1.6442929 , -0.21821836,  0.6999006 , -0.03335187],
       [-1.673664  ,  0.50288031, -1.83108825, -1.23401909],
       [-1.66156131, -2.57422677, -1.83108825,  1.16731536],
       [-1.673664  , -0.17528531, -1.4462786 , -1.23401909],
       [ 0.57410176, -1.10165542,  0.29637694, -1.23401909],
       [ 0.4220906 ,  0.20479752,  0.29718526, -0.03335187],
       [ 0.38030758,  0.50538623,  0.32125438, -1.23401909],
       [ 1.00438367,  1.27949493,  0.35403374, -0.03335187],
       [ 0.88337621,  0.03184527,  0.39886959,  1.16731536],
       [ 0.06818346, -0.00563469,  0.42076085, -1.23401909],
       [ 0.43980557,  0.8577414 ,  0.57603938,  1.16731536],
       [ 0.37487683, -0.27853767,  0.68120328, -0.03335187],
       [ 0.25588265,  1.16795814, -1.83108825,  1.16731536],
       [ 0.02890359, -0.28988105,  0.71310446, -1.23401909],
       [ 0.07658668,  1.1774935 ,  0.72224334,  1.16731536],
       [-0.02154122,  0.03794589,  0.75275659, -0.03335187],
       [-0.165823  , -0.58832162,  0.76510399, -0.03335187],
       [ 0.04654576, -0.82621636, -0.63359259,  1.16731536],
       [-0.22985461,  0.65460485, -0.6558447 , -1.23401909],
       [ 0.00825076,  0.82311815, -0.68917401, -0.03335187],
       [-0.06367255,  0.224807  ,  1.177531  ,  1.16731536],
       [-0.19889043,  2.23914065, -0.82463513, -0.03335187],
       [-0.20884945,  1.15023284, -0.918423  ,  1.16731536],
       [-0.2894745 , -0.22465065, -1.05478086,  1.16731536],
       [-1.2219853 ,  1.13809338, -1.07959552,  1.16731536],
       [-0.25789476,  0.27463345, -1.43850805, -1.23401909],
       [-0.4346159 , -0.68736485, -0.00270767, -0.03335187],
       [-0.63708012,  1.32165249, -0.03539459,  1.16731536],
       [-1.2219853 , -1.3496062 , -0.08037287,  1.16731536],
       [-1.03367032,  0.19508381, -0.11777636, -0.03335187],
       [-0.68968668, -2.59114164, -0.15268033, -1.23401909],
       [-1.2219853 , -2.0519077 , -0.25289545,  1.16731536],
       [-0.81274405, -1.42555047, -0.34034534, -1.23401909],
       [-1.0316481 , -0.11784035, -0.3591171 , -1.23401909],
       [-1.05088134, -1.36198577, -0.43003381,  1.16731536],
       [-1.14581818, -0.93990057, -0.57033117, -1.23401909],
       [-1.2219853 ,  0.20707435, -1.52838812,  1.16731536],
       [-1.17848774,  1.21546693, -1.5897171 , -1.23401909],
       [-1.65133124,  0.08833235, -1.8148695 ,  1.16731536],
       [-1.6442929 , -0.21821836,  0.6999006 , -0.03335187],
       [-1.673664  ,  0.50288031, -1.83108825, -1.23401909],
       [-1.66156131, -2.57422677, -1.83108825,  1.16731536],
       [-1.673664  , -0.17528531, -1.4462786 , -1.23401909],
       [ 2.01819092,  0.55696553,  2.18783528,  1.16731536],
       [ 1.95675646,  1.0893969 ,  1.95029024, -1.23401909],
       [ 1.75232048, -0.75766814,  1.64392865, -0.03335187],
       [ 1.54982902, -0.1132146 ,  1.43322263,  1.16731536],
       [ 1.49925539, -1.11632102,  1.28814125, -0.03335187],
       [ 1.27083396, -0.806604  ,  1.25996984,  1.16731536],
       [ 1.3319795 ,  0.93574262, -0.74312422, -1.23401909],
       [ 1.23558377,  0.87437939,  0.92787631, -0.03335187],
       [ 1.01776417,  0.99163696,  0.82340982,  1.16731536],
       [ 1.08011094, -0.48065199,  0.76691751, -1.23401909],
       [ 0.60181303, -0.4102384 ,  0.1210342 , -0.03335187],
       [ 0.57410176, -1.10165542,  0.29637694, -1.23401909],
       [ 0.4220906 ,  0.20479752,  0.29718526, -0.03335187],
       [ 0.38030758,  0.50538623,  0.32125438, -1.23401909],
       [ 1.00438367,  1.27949493,  0.35403374, -0.03335187],
       [ 0.88337621,  0.03184527,  0.39886959,  1.16731536],
       [ 0.06818346, -0.00563469,  0.42076085, -1.23401909],
       [ 0.43980557,  0.8577414 ,  0.57603938,  1.16731536],
       [ 0.37487683, -0.27853767,  0.68120328, -0.03335187]])

In [28]:
x = pd.DataFrame(x,columns = names)

In [29]:
x.head()

   R&D Spend  Administration  Marketing Spend     State
0   2.018191        0.556966         2.187835  1.167315
1   1.956756        1.089397         1.950290 -1.234019
2   1.752320       -0.757668         1.643929 -0.033352
3   1.549829       -0.113215         1.433223  1.167315
4   1.499255       -1.116321         1.288141 -0.033352

In [30]:
from sklearn.model_selection import train_test_split

In [44]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2 )

In [32]:
# ANN creation - tensorflow and keras
import tensorflow

In [34]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [35]:
model = Sequential()

In [36]:
# input layer
model.add(Dense(units = 4, kernel_initializer = "random_uniform",activation = "relu"))

In [37]:
model.add(Dense(units = 10, kernel_initializer = "random_uniform",activation = "relu"))

In [38]:
model.add(Dense(units = 12, kernel_initializer = "random_uniform",activation = "relu"))

In [39]:
model.add(Dense(units = 1, kernel_initializer = "random_uniform",))

In [40]:
model.compile(loss = "mse",metrics = ['mse'], optimizer="adam")

In [45]:
model.fit(x_train,y_train,epochs = 10,batch_size =10)

Epoch 1/10
9/9 [==============================] - 1s 2ms/step - loss: 14255318016.0000 - mse: 14255318016.0000
Epoch 2/10
9/9 [==============================] - 0s 2ms/step - loss: 14255314944.0000 - mse: 14255314944.0000
Epoch 3/10
9/9 [==============================] - 0s 2ms/step - loss: 14255309824.0000 - mse: 14255309824.0000
Epoch 4/10
9/9 [==============================] - 0s 2ms/step - loss: 14255308800.0000 - mse: 14255308800.0000
Epoch 5/10
9/9 [==============================] - 0s 2ms/step - loss: 14255302656.0000 - mse: 14255302656.0000
Epoch 6/10
9/9 [==============================] - 0s 2ms/step - loss: 14255297536.0000 - mse: 14255297536.0000
Epoch 7/10
9/9 [==============================] - 0s 2ms/step - loss: 14255290368.0000 - mse: 14255290368.0000
Epoch 8/10
9/9 [==============================] - 0s 2ms/step - loss: 14255279104.0000 - mse: 14255281152.0000
Epoch 9/10
9/9 [==============================] - 0s 2ms/step - loss: 14255266816.0000 - mse: 14255266816.0000
Epoch 10/10
9/9 [==============================] - 0s 2ms/step - loss: 14255249408.0000 - mse: 14255249408.0000

In [46]:
pred = model.predict(x_test)

In [47]:
pred

array([[0.39296392],
       [0.3653173 ],
       [0.328525  ],
       [0.38110763],
       [0.35236832],
       [0.39358205],
       [0.4056872 ],
       [0.35564992],
       [0.328525  ],
       [0.35564992],
       [0.35916835],
       [0.32476267],
       [0.38088486],
       [0.40862173],
       [0.32476267],
       [0.35384515],
       [0.37975144],
       [0.34956133],
       [0.39358205],
       [0.35384515],
       [0.371345  ],
       [0.3528904 ]], dtype=float32)

In [48]:
from sklearn import metrics

In [50]:
metrics.mean_squared_error(pred,y_test)

14935377054.562439